@font-face {
    font-family: 'Rubik';
    src: url(../font/Rubik-VariableFont_wght.ttf);
}

@import "_colores";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

.animate__animated {
    --animate-duration: 3s;
}

.bg-color-caja {
    background-color: $color-caja;
}

.bg-color-boton {
    background-color: $color-boton;

    &:hover {
        background-color: #45a049;
    }
}

header {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    display: grid;

    h1,
    p {
        text-align: center;
    }

    .lead {
        font-size: 25pt;
    }
}

body {
    background-image: url("../img/fondo.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: repeat;
}

main {
    h2 {
        margin: 15px;
        text-align: center;
        color: #3A5683;
    }

    h3 {
        margin: 15px;
        text-align: center;
        font-style: italic;
        color: #3A5683;
    }
}

/* MENU PRINCIPAL */

nav {
    background-color: #85B041;
}

/* FIN MENU PRINCIPAL */

/* RRSS */

footer {
    background-color: white;

    ul {
        margin-right: 15px;
    }
}

/* FIN RRSS */

/* QUIENES SOMOS */

.quienes-somos-caja {
    background-color: rgb(233, 233, 252);
    overflow: hide;
    border: 1px solid rgb(0, 0, 0);

    img {
        object-fit: cover;
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    h4 {
        text-align: center;
    }
}

/* FIN QUIENES SOMOS */

/* AVENTURAS */

.aventuras {
    margin-top: 5px;
    overflow: hide;
    vertical-align: top;
    border: 1px solid rgb(0, 0, 0);

    img {
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    h4 {
        text-align: center;
    }
}

/* FIN AVENTURAS */

/* CONTACTANOS */

.contactanos button {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* FIN CONTACTANOS */

/* EQUIPAMIENTO */

.equipamiento {
    text-align: left;

    ul li.active {
        text-align: center;
        background-color: #85B041;
        border-color: #85B041;
    }
}

/* FIN EQUIPAMIENTO */

/* EXPERIENCIAS */

.experiencias main {
    display: grid;
}

.experiencias-twitter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
    row-gap: 10px;
    background: linear-gradient(#85B041, rgb(96, 96, 255));

    div {
        width: 300px;
    }
}

.experiencias-youtube {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: linear-gradient(#85B041, rgb(96, 96, 255));

    div {
        background-color: rgb(233, 233, 252);
        overflow: hide;
        padding: 15px;
        margin: 50px;
        border: 1px solid rgb(0, 0, 0);
        height: 550px;

        iframe {
            width: 100%;
            height: 300px;
        }
    }
}

/* FIN EXPERIENCIAS */

/* MOBILE */
@media (min-width: 0px) and (max-width: 576px) {
    .home {
        text-align: center;
    }

    .quienes-somos-caja {
        background-color: rgb(233, 233, 252);

        p {
            text-align: center;
        }
    }

    .aventuras {
        img {
            padding: 15px;
        }

        h4,
        p {
            text-align: center;
        }
    }

    .equipamiento {
        width: 100%;
        text-align: center;
    }

    .experiencias {
        text-align: center;
    }

    .experiencias-twitter,
    .experiencias-youtube {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        text-align: left;
    }
}

/* TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    .home {
        text-align: center;
    }

    .quienes-somos-caja {
        background-color: rgb(233, 233, 252);

        p {
            text-align: center;
        }
    }

    .aventuras {
        img {
            padding: 15px;
        }

        h4,
        p {
            text-align: center;
        }
    }

    .equipamiento {
        width: 100%;
        text-align: center;
    }

    .experiencias {
        text-align: center;
    }

    .experiencias-twitter {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .experiencias-youtube {
        column-gap: 0px;
        row-gap: 0px;

        div {
            height: 600px;
        }
    }

    footer {
        text-align: left;
    }
}